<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="ressources" var="msg" />
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Greeting to User</ui:define>
	<ui:define name="pageHeader">#{msg.greeting_title}</ui:define>
	<ui:define name="body">
		<h:form id="helloForm">
			<table>
				<tr>
					<td>#{msg.prompt}</td>
					<td><h:inputText label="Name" required="true" id="name"
							value="#{person.name}">
							<f:validateLength minimum="2" maximum="10" />
							<f:validator validatorId="nameValidator" />
						</h:inputText> <h:message showSummary="true" showDetail="false"
							style="color: red; font-weight: bold;" for="name" /></td>
				</tr>

				<tr>
					<td>#{msg.prompt2}</td>
					<td><h:inputText label="Firstame" required="true"
							id="firstName" value="#{person.firstName}">
							<f:validateLength minimum="2" maximum="10" />
							<f:validator validatorId="nameValidator" />
						</h:inputText> <h:message showSummary="true" showDetail="false"
							style="color: red; font-weight: bold;" for="firstName" /></td>
				</tr>

				<tr>
					<td colspan="2"><h:commandButton id="submit" action="greeting"
							value="#{msg.buttonLabel}" /></td>
				</tr>
			</table>
		</h:form>
	</ui:define>

</ui:composition>

</html>