<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

	<f:loadBundle basename="ressources" var="msg" />
	<ui:composition template="/templates/common.xhtml">
			<ui:define name="pageTitle">Test JSF</ui:define>
			<ui:define name="pageHeader">JBoss JSF</ui:define>
			<ui:define name="body">
				#{msg.ok}
			</ui:define>
	</ui:composition>
</html>